# Managed by Ansible. Proxmox VM bridge for {{ inventory_hostname }}.
[NetDev]
Name={{ item.name }}
Kind=bridge
{% set bridge_mac = item.resolved_mac | default(item.mac | default('')) %}
{% if bridge_mac %}
MACAddress={{ bridge_mac }}
{% endif %}
