# Managed by Ansible. Proxmox VM bridge network for {{ inventory_hostname }}.
[Match]
Name={{ item.name }}

[Link]
RequiredForOnline={{ item.required_for_online | default('routable') }}
{% if item.mtu | default('') %}
MTUBytes={{ item.mtu }}
{% endif %}

[Network]
{% if item.address | default('') %}
Address={{ item.address }}/{{ item.prefix | default(24) }}
{% elif item.dhcp4 | default(true) | bool %}
DHCP=ipv4
{% else %}
DHCP=no
{% endif %}
{% if item.gateway | default('') %}
Gateway={{ item.gateway }}
{% endif %}
{% for dns_server in item.dns_servers | default([]) %}
DNS={{ dns_server }}
{% endfor %}
ConfigureWithoutCarrier={{ item.configure_without_carrier | default('yes') }}
LinkLocalAddressing={{ item.link_local | default('no') }}
IPv6AcceptRA={{ item.ipv6_accept_ra | default('no') }}

{% if item.dhcp4 | default(true) | bool and not (item.address | default('')) %}
[DHCP]
UseDNS={{ item.dhcp_use_dns | default('yes') }}
UseNTP={{ item.dhcp_use_ntp | default('no') }}
UseHostname={{ item.dhcp_use_hostname | default('no') }}
{% endif %}
