global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend kubernetes_api
    bind *:6443
    default_backend talos_control_planes

frontend talos_api
    bind *:50000
    default_backend talos_machine_apis

frontend internal_https
    mode http
    option httplog
    bind *:443 ssl crt /usr/local/etc/haproxy/certs/mbhome.biz.pem

    http-request set-header X-Forwarded-Proto https
    http-request set-header X-Forwarded-Port 443

    acl host_minio hdr(host) -i s3.mbhome.biz
    acl host_minio_console hdr(host) -i s3-ui.mbhome.biz
    acl host_unraid hdr(host) -i nas.mbhome.biz
    acl host_proxmox hdr(host) -i proxmox.mbhome.biz
    acl host_nas_bmc hdr(host) -i mbhome-nas-01-bmc.mbhome.biz
    acl host_proxmox_01_bmc hdr(host) -i mbhome-proxmox-01-bmc.mbhome.biz
    acl host_proxmox_02_bmc hdr(host) -i mbhome-proxmox-02-bmc.mbhome.biz
    acl host_proxmox_03_bmc hdr(host) -i mbhome-proxmox-03-bmc.mbhome.biz

    use_backend minio_api if host_minio
    use_backend minio_console if host_minio_console
    use_backend unraid_ui if host_unraid
    use_backend proxmox_cluster_ui if host_proxmox
    use_backend nas_bmc_ui if host_nas_bmc
    use_backend proxmox_01_bmc_ui if host_proxmox_01_bmc
    use_backend proxmox_02_bmc_ui if host_proxmox_02_bmc
    use_backend proxmox_03_bmc_ui if host_proxmox_03_bmc

    default_backend internal_not_found

backend talos_control_planes
    balance roundrobin
    default-server inter 2s fall 3 rise 2 check

    server mbhome-talos-cp-01 10.20.30.71:6443
    server mbhome-talos-cp-02 10.20.30.72:6443
    server mbhome-talos-cp-03 10.20.30.73:6443

backend talos_machine_apis
    balance roundrobin
    default-server inter 2s fall 3 rise 2 check

    server mbhome-talos-cp-01 10.20.30.71:50000
    server mbhome-talos-cp-02 10.20.30.72:50000
    server mbhome-talos-cp-03 10.20.30.73:50000

backend minio_api
    mode http
    option httpchk GET /minio/health/live
    http-request set-header Host s3.mbhome.biz
    server mbhome-nas-01 10.20.30.50:9768 check

backend minio_console
    mode http
    http-request set-header Host s3-ui.mbhome.biz
    server mbhome-nas-01 10.20.30.50:9769 check

backend unraid_ui
    mode http
    http-request set-header Host nas.mbhome.biz
    server mbhome-nas-01 10.20.30.50:80 check

backend proxmox_cluster_ui
    mode http
    balance source
    http-request set-header Host proxmox.mbhome.biz
    server mbhome-proxmox-01 10.20.30.51:8006 ssl verify none check
    server mbhome-proxmox-02 10.20.30.52:8006 ssl verify none check
    # server mbhome-proxmox-03 10.20.30.53:8006 ssl verify none check

backend nas_bmc_ui
    mode http
    http-request set-header Host mbhome-nas-01-bmc.mbhome.biz
    server mbhome-nas-01-bmc 10.20.30.20:443 ssl verify none check

backend proxmox_01_bmc_ui
    mode http
    http-request set-header Host mbhome-proxmox-01-bmc.mbhome.biz
    server mbhome-proxmox-01-bmc 10.20.30.21:443 ssl verify none check

backend proxmox_02_bmc_ui
    mode http
    http-request set-header Host mbhome-proxmox-02-bmc.mbhome.biz
    server mbhome-proxmox-02-bmc 10.20.30.22:443 ssl verify none check

backend proxmox_03_bmc_ui
    mode http
    http-request set-header Host mbhome-proxmox-03-bmc.mbhome.biz
    server mbhome-proxmox-03-bmc 10.20.30.23:443 ssl verify none check

backend internal_not_found
    mode http
    http-request return status 404 content-type text/plain string "No matching internal service\n"

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /
    stats refresh 10s
